/* Importing Fonts */
  @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
  
/*General Styling */

  body {
    background: #222;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
  }

/*****************/
/* About Section */
/*****************/
  #aboutSection {
    background: white;
    text-align: center;

    padding-top: 2em;
    padding-bottom: 4em;
  }

  #aboutSection h1:first-child{
    display: inline-block;
    border: 2px solid white;
    box-shadow: 0px 0px 0px 3px #333031;
    margin-bottom: 1.5em;
    padding: .5em;

    background-color: #222;
    color: white;
  }

  #aboutSection p {
    font-size: 1.4em;
    margin: 0;
    color: #222;
  }

  #aboutSection ul{
    padding-left: 0;
    list-style: none;
    font-size: 1.1em;
  }

  @media (max-width: 600px){
    #aboutSection .col-span6{
      text-align: center;
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
/****************/
/* Hair Section */
/****************/
  #hairSection{
    padding-top: 2em;
    padding-bottom: 4em;
    background: #F5F5DC;
  }

  #hairSection .col-span12{
    text-align: center;
  }

  #hairSection ul{
    font-size: 1.2em;
    list-style: none;
    padding-left: 0;
  }

  #hairSection h1{
    display: inline-block;
    border: 2px solid #F5F5DC;
    box-shadow: 0px 0px 0px 3px #333031;
    margin-bottom: 1.5em;
    padding: .5em;

    background-color: #222;
    color: white;
  }

  #hairSection h2{
    text-transform: uppercase;
  }

  #hairSection img{
    text-align: center;
    max-width: 100%;
  }

  @media (max-width: 1000px){
    #hairSection .col-span4{
      text-align: center;
      width: 100%;
    }

    #hairSection .col-span3{
      width: 41.7777%;
      text-align: center;
    }
  }

  @media (max-width: 770px){
    #hairSection .col-span3{
      width: 100%;
      text-align: center;
    }
  }

/*******************/
/* Nails & Waxing */
/*****************/
  #nailsAndWaxingSection{
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/nail-background.jpg');
    padding-top: 2em;
    padding-bottom: 4em;

    color: white;
  }

  #nailsAndWaxingSection h1:first-child{
      display: inline-block;
      border: 2px solid rgba(255, 255, 255, .5);
      box-shadow: 0px 0px 0px 3px #333031;
      margin-bottom: 1.5em;
      padding: .5em;

      background-color: #222;
      color: white;
  }

  #nailsAndWaxingSection ul{
    list-style: none;
    padding-left: 0;
    font-size: 1.2em;
  }

  #nailsAndWaxingSection h2{
      text-transform: uppercase;
  }

  @media (max-width: 600px){
      #nailsAndWaxingSection .col-span6{
        text-align: center;
        width: 100%;
      }
  }

/********************/
/* Contact Section */
/******************/
  #contactSection{
    background-color: white;
    padding-top: 2em;
    padding-bottom: 4em;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea{
    padding: 0.6em 0.8em;
    color: #bfbfbf;
    background: #f7f7f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-style: italic;
    -webkit-appearance: none;
  }

  #contactSection .col-span12{
    text-align: center;
  }

  #contactSection h1:first-child{
      display: inline-block;
      border: 2px solid white;
      box-shadow: 0px 0px 0px 3px #333031;
      margin-bottom: 1.5em;
      padding: .5em;

      background-color: #222;
      color: white;
  }

  #contactSection #infoColumn{
    padding-left: 2em;
  }

  #contactSection textarea{
    max-width: 90%;
  }

  @media (max-width: 1300px){
    #contactSection .col-span5{
      width: 100%;
      padding-left: 2em;
      padding-right: 2em;
    }

    #contactSection iframe{
      max-width: 100%;
    }

    #contactSection #infoColumn{
      padding-top: 2em;
    }
  }
/*******************/
/* Footer Section */
/*****************/

  footer{
    line-height: .5em;
    text-align: center;
    padding: 1em;

    color: white;
  }

  .social-icon {
    color: #fff;
  }

  ul.social-icons { 
    margin-top: 10px;
    padding-left: 0;
  }

  .social-icons li {
    vertical-align: top;
    display: inline;
  }

  .social-icons a {
    color: white; 
    text-decoration: none;
  }


  .fa-facebook {
    padding:10px 14px 7px 14px;
    -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color:  #222;
  }

  .fa-facebook:hover {
    background-color: #3d5b99;
  }

  .fa-twitter {
    padding:10px 10px 7px 10px;
    -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color:  #222;
  }

  .fa-twitter:hover {
    background-color: #00aced;
  }

  .fa-google-plus {
    padding:10px 10px 7px 10px;
    -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #222;
  }

  .fa-google-plus:hover {
    background-color: #e25714;
  }